@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Regular.ttf");
}

body {
  font-family: "GoogleSans";
}

.card {
  width: 15rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-disabled:hover {
  box-shadow: none;
  cursor: auto;
}

.card-img-top {
  width: 14.9rem;
  height: 14.9rem;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  color: #0080ad;
}

.gray {
  color: lightslategray;
}

.social-media-links {
  line-height: 11px;
  text-align: center;
}
